.login-page {
    text-align: center;
    position: relative;
    background-color: rgb(32, 32, 32);
}

.login-container {
    color: white;
    background-color: firebrick;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 75px;
}

.form-input-box {
    margin: 50px;
}

.form-input {
    height: 25px;
}