.login-page {
    position: relative;
    text-align: center;
}

.login-container {
    color: white;
    background-color: firebrick;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

.background-img {
    width: 100%;
}